:root {
  scroll-behavior: smooth;
}

@font-face {
  font-family: Determination;
  src: url("https://tdrbot.github.io/fonts/font8bitoper.ttf");
}

body {
    image-rendering: pixelated, -moz-crisp-edges;
    color: white;
    background-color: black;
    text-align: center;
    justify-content: center;
    font-family: Determination, sans-serif;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
    color: yellow;
}

details > summary {
    cursor: pointer;
}

summary::marker {
  color: white;
}

.container {
    margin-top: 40px;
    width: 70%;
    text-align: center;
    justify-content: center;
    font-size: 24px;
}

.topbar {
    background-color: grey;
    color: black;
    text-align: center;
    justify-content: center;
    height: 80px;
    font-size: 32px;
}

.topbar a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.topbar a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.topbar a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

.topbar a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

table, tr, th, td {
    padding: 0.5em;
    vertical-align: top;
    border: 5px solid;
    border-color: white
}

a:link {
  color: #00ff00;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #00ff00;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: purple;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: purple;
  background-color: transparent;
  text-decoration: underline;
}

.wide-cover {
    width: 100%
}